<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_item.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_item.name }}


            </h1>
            <h2>Tasks</h2>
            <h3> 
                <nav>
                    
                <a href="{% url 'edit_todo' todo_item.id %}">Edit</a>  
                <p>
                <a href="{% url 'todo_list_delete' todo_item.id %}">Delete</a>
                </p>
            
                </nav>
            </h3>

            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
            <tbody>

                {% for item in todo_item.items.all %}

                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>


                </tr>



                    {% endfor %}
            </tbody>
           
        </table>
            

        </div>


    </main>
    
</body>
</html>