<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>
                My Lists 
            </h1>
            <h2>
                <nav>
                    
                    <a href="{% url 'create_todo' %}">Create a new todo list</a>
                
                </nav>
            </h2>

                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of items</th>
                    </thead>
            <tbody>
                {% for item in todo_list_object.all %}
                
                <tr>

                   <td> 
                        <a href="{% url 'todo_list_detail' item.id %}"> {{ item.name }} </a> 
                    </td>

                    
                  <td>{{ item.items.count }}</td>
                    
                    
                </tr>

                
                {% endfor %} 
                
            
            </tbody>

                </table>
        </div>
    </main>
    
</body>
</html>
